.matches{
    /* background: rgb(197, 197, 197) !important; */
    /* display: flex; */
}
.match-card{
    color: rgb(0, 0, 0) !important;
    background-color:rgb(255, 255, 255) !important;
    width: 400px;
    font-size: 10px;
    text-align: center;
    margin: 10px !important;
    border-radius: 10px !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}
.scroller{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* overflow-y: scroll; */
    /* height: 80vh; */
}
.scroller::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

.scroller::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

.scroller::-webkit-scrollbar-thumb
{
	background-color: #575757;
}