.or{
    font-weight : bold;
    font-size: 20px;
    align-items: center;
    margin : 20px auto
    
}

.div1{
    margin-top: 10vh;
    align-items: right;
}

h1{
color: azure;
text-align: left;
}

Button{

margin: 10px !important;
}
